    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body {
        background: linear-gradient(
          88deg,
         rgb(177, 221, 251),
         rgb(249, 204, 166),
         rgb(213, 176, 246),
         rgb(251, 197, 161)
        );
      }

      .header-container {
        text-align: center;
        margin-top: 3%;
        color: rgb(83, 148, 246);
      }
      #jokes-container{
        display: flex;
        justify-content: center;
        padding: 0% 10%;
        text-align: center;
        margin: 6% 0%;
        font-size: 20px;
      }
      .btn{
        background: linear-gradient(79deg ,pink ,#8ff9cf,pink);
        padding: 0.8rem;
        border: none;
        border-radius: 0.3rem;
        font-size: medium;
        border: 0.1em solid white;
      }
      .loader{
        text-align: center;
        margin-top: 1%;
        color: #592459;
        display: none;
        font-size: 1.3rem;
      }